# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
.vs/CMakeWorkspaceSettings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/SP2022-CSC134-Group-Project/FileContentIndex/f9eedd1a-1169-43d8-989b-f613d4ac1760.vsidx
.vs/SP2022-CSC134-Group-Project/FileContentIndex/read.lock
.vs/SP2022-CSC134-Group-Project/v17/.suo
.vs/SP2022-CSC134-Group-Project/v17/Browse.VC.db
.vs/SP2022-CSC134-Group-Project/v17/ipch/AutoPCH/4952086e118a00f1/CLASSROOM.ipch
.vs/SP2022-CSC134-Group-Project/v17/ipch/AutoPCH/81c95244c70ae81e/TESTPROGRAM.ipch
.vscode/tasks.json
.vscode/settings.json
.vs/VSWorkspaceState.json
.vs/tasks.vs.json
